Name: Ronit Mehta PRN: 25070123094

AIM: Study of Set in Python

In [ ]:
set1 = {"apple", "banana", "cherry"}
print(set1)
print(set1[1])

{'cherry', 'apple', 'banana'}

TypeError: 'set' object is not subscriptable

In [ ]:
set2 = {2,2.5,True,"ronit"}
print(set2)

{True, 2, 2.5, 'ronit'}

In [ ]:
set3 = {"apple", 2, True, 1,"apple"}
print(set3)

{True, 2, 'apple'}

In [ ]:
set4 = {"apple", "banana", "cherry"}
set4.add("kiwi")
print(set4)

{'kiwi', 'cherry', 'apple', 'banana'}

In [ ]:
set5 = {"apple", "banana", "cherry"}
set5.remove("banana")
print(set5)

{'cherry', 'apple'}

In [ ]:
set6 = {1,2,3,4}
set7 = {3,4,5,6}

print("union:", set6 | set7)
#or
print("union:", set6.union(set7))

print("intersection:", set6 & set7)
#or
print("intersection:", set6.intersection(set7))

print("difference:", set6 - set7)
print("difference:", set7 - set6)
print("dsimilar:", set6 ^ set7)

union: {1, 2, 3, 4, 5, 6}
union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
intersection: {3, 4}
difference: {1, 2}
difference: {5, 6}
dsimilar: {1, 2, 5, 6}

In [ ]:
set8 = frozenset({"apple", "banana", "orange"})
print(set8)

print(type(set8))

set8.add("kiwi")
print(set8)

frozenset({'orange', 'banana', 'apple'})
<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
#que 1

participants = ["ronit", "rishabh", "rupsa","ronit", "rishabh", "samarth", "rudransh", "rupsa", "dhruv", "soham"]

unique_participants = set(participants)

print("Original registered participants (with duplicates):")
print(participants)
print("Unique participants:")
print(unique_participants)

Original registered participants (with duplicates):
['ronit', 'rishabh', 'rupsa', 'ronit', 'rishabh', 'samarth', 'rudransh', 'rupsa', 'dhruv', 'soham']
Unique participants:
{'rudransh', 'dhruv', 'rishabh', 'ronit', 'soham', 'samarth', 'rupsa'}

In [ ]:
#que 2

student1 = {"Python", "Data Structures", "Algorithms", "Networking"}
student2 = {"Python", "Operating Systems", "Algorithms", "Data Structures"}
student3 = {"Python", "Machine Learning", "Algorithms", "Cyber Security"}

common_electives = student1 & student2 & student3

print("Student 1 Electives:", student1)
print("\nStudent 2 Electives:", student2)
print("\nStudent 3 Electives:", student3)
print("\n\nCommon subjects chosen by all students:", common_electives)

Student 1 Electives: {'Algorithms', 'Networking', 'Data Structures', 'Python'}

Student 2 Electives: {'Algorithms', 'Operating Systems', 'Data Structures', 'Python'}

Student 3 Electives: {'Algorithms', 'Machine Learning', 'Cyber Security', 'Python'}


Common subjects chosen by all students: {'Algorithms', 'Python'}

In [ ]:
#que 3

cricket = {"Amit", "Rahul", "Sneha"}
football = {"Rahul", "Sneha", " Neha"}

club = cricket & football
club2 = cricket ^ football

print("Students who play in only one club:", club2)
print("Students who play both club", club)

Students who play in only one club: {' Neha', 'Amit'}
Students who play both club {'Rahul', 'Sneha'}

In [ ]:
#que 4

all_students = {"Ronit", "Rishabh", "Rupsa", "Samarth", "Rudransh", "Dhruv", "Soham"}
present_students = {"Ronit", "Rishabh", "Samarth", "Dhruv"}

absent_students = all_students - present_students

print("All Students:", all_students)
print("Present Students:", present_students)
print("Absent Students:", absent_students)

All Students: {'Samarth', 'Dhruv', 'Rupsa', 'Soham', 'Rishabh', 'Ronit', 'Rudransh'}
Present Students: {'Samarth', 'Rishabh', 'Ronit', 'Dhruv'}
Absent Students: {'Rupsa', 'Soham', 'Rudransh'}

In [ ]:
#que 5

valid_courses = {"CS101", "MA201", "PY301", "DA401", "ML501"}
valid_courses.remove("MA201")
print(f"After remove('MA201'): {valid_courses}")

valid_courses.discard("PY301")
print(f"After discard('PY301'): {valid_courses}")

After remove('MA201'): {'DA401', 'CS101', 'ML501', 'PY301'}
After discard('PY301'): {'DA401', 'CS101', 'ML501'}